<form action="/anagrams">

  <label for="target_word">Enter your base word</label>
  <input name="target_word" type="text">

  <label for="word_arr">Type in what you want to check!</label>
  <input name="word_arr" type="text">

  <button type="submit">Submit</button>
</form>
